backend/target/
backend/data/
backend/
backend-java/
backend/synced-logs/
docs/
.idea/
.vscode/
docker-data/
frontend-vue/node_modules/
frontend-vue/dist/
backend-go/tmp/
*.log
*.db
*.mv.db
*.trace.db
__pycache__/
*.pyc
